* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  width: 500px;
  font-size: 3em;
  border-bottom: 2px solid rgb(64, 118, 212);
  border-right: 2px solid rgb(64, 118, 212);
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px lightslategray;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  font-family: fantasy;
}
img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}
